* {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #fff;
}

a, a:hover {
  text-decoration: none;
}

.title {
  color: #71ADB5;
  text-align: center;
  margin: 35px;
}

nav.navbar-light {
  background-color: #f7f7f7;
  transition: 0.5s;
}
@media (min-width: 768px) {
  nav.navbar-light {
    padding-left: 11%;
    padding-right: 11%;
  }
}
nav.navbar-light.at_top {
  background-color: transparent;
}
nav.navbar-light.at_top a.navbar-brand {
  color: #aaa;
}
nav.navbar-light.at_top a.navbar-brand:hover {
  color: #fff;
}
nav.navbar-light.at_top ul.navbar-nav .nav-link {
  color: rgba(153, 153, 153, 0.8);
}
nav.navbar-light.at_top ul.navbar-nav .nav-link:hover {
  color: #fff;
}
nav.navbar-light.at_top button .icon {
  background-color: rgba(153, 153, 153, 0.8);
}
nav.navbar-light.at_top button:hover .icon {
  background-color: #fff;
}
nav.navbar-light a.navbar-brand, nav.navbar-light a.navbar-brand.open-nav {
  transition: 0.5s;
  color: #555;
  font-family: "Lemonada", cursive;
}
nav.navbar-light a.navbar-brand:hover, nav.navbar-light a.navbar-brand:active, nav.navbar-light a.navbar-brand.open-nav:hover, nav.navbar-light a.navbar-brand.open-nav:active {
  color: #000;
}
@media (max-width: 768px) {
  nav.navbar-light a.navbar-brand, nav.navbar-light a.navbar-brand.open-nav {
    width: 130px;
  }
}
nav.navbar-light ul.navbar-nav {
  margin-right: 0 !important;
  margin-left: auto;
}
nav.navbar-light ul.navbar-nav .nav-link {
  transition: 0.5s;
}
nav.navbar-light button, nav.navbar-light button.open-nav {
  border: none;
  padding: 10px;
  position: absolute;
  top: 9px;
  right: 18px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  nav.navbar-light button, nav.navbar-light button.open-nav {
    display: block;
  }
}
nav.navbar-light button .icon, nav.navbar-light button.open-nav .icon {
  width: 21px;
  height: 2px;
  background-color: #555;
  margin-top: 5px;
  transition: 0.5s;
}
nav.navbar-light button:hover .icon, nav.navbar-light button.open-nav:hover .icon {
  background-color: #000;
}
nav.navbar-light button:focus, nav.navbar-light button.open-nav:focus {
  outline: none;
}
nav.navbar-light button.btn_active .icon:nth-child(1), nav.navbar-light button.open-nav.btn_active .icon:nth-child(1) {
  transform: rotate(45deg) translate(-20%, -150%);
  transform-origin: 0 0;
}
nav.navbar-light button.btn_active .icon:nth-child(2), nav.navbar-light button.open-nav.btn_active .icon:nth-child(2) {
  transform: rotate(-45deg) translate(-20%, 10%);
  transform-origin: 0 0;
}

.nav-content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.nav-content.open-nav {
  opacity: 1;
  visibility: visible;
}
.nav-content .nav-cover {
  width: 100%;
  height: 54px;
  background-color: #f7f7f7;
}
.nav-content ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translate(-50%, 75%);
  opacity: 0;
}
.nav-content ul.open-nav {
  transition: 0.5s ease-in;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.nav-content ul li:nth-child(2) {
  margin: 7px 0;
}
.nav-content ul li a {
  color: #555;
  font-size: 22px;
  text-decoration: none;
  transition: 0.5s;
}
.nav-content ul li a:hover {
  color: #000;
}

header {
  height: 75vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bg_fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("hero.jpg");
  background-attachment: fixed;
  /* background-size: cover; */
  background-position: center center;
}
header .texts {
  color: #eee;
  text-align: center;
}
header h1 {
  width: 100%;
  font-size: 60px;
  letter-spacing: 2px;
}
@media (max-width: 735px) {
  header h1 {
    font-size: 50px;
  }
}
@media (max-width: 570px) {
  header h1 {
    font-size: 40px;
  }
}
@media (max-width: 410px) {
  header h1 {
    font-size: 30px;
  }
}
header .resume {
  margin-top: 30px;
}
header .resume:before {
  content: "";
  height: 1px;
  position: absolute;
  left: -80px;
  right: -80px;
  top: 50%;
  z-index: 1;
}
header .resume .text {
  font-size: 20px;
  letter-spacing: 5px;
  display: inline-block;
  border: solid 1px white;
  padding: 5px 30px;
  background-image: url("hero.jpg");
  background-position: center center;
  z-index: 2;
}
header .arrow_block {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  visibility: hidden;
}
header .arrow_block .arrow {
  transform: scale(1.4, 1.1);
  font-size: 37px;
  color: rgba(153, 153, 153, 0.7);
  opacity: 0;
  transition: 0.5s;
  animation: arrow_move 1.5s infinite;
}
header .arrow_block.at_top {
  visibility: visible;
}
header .arrow_block:hover .arrow {
  color: #ccc;
}
@keyframes arrow_move {
  0% {
    bottom: 30px;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    bottom: -30px;
  }
}
#section_about {
  background-color: #fff;
  padding-bottom: 68px;
}
@media (max-width: 768px) {
  #section_about .col_pic {
    margin-top: 50px;
    margin-bottom: 85px;
  }
}
#section_about .profile_pic {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  #section_about .profile_pic {
    width: 120px;
    height: 120px;
  }
}
#section_about .profile_pic .cover {
  width: 100%;
  height: 100%;
  background-image: url("profile.jpg");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}
#section_about .info {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 27px;
  color: #333;
}
#section_about .info .text-focus-bold {
  font-weight: 500;
  color: #a94442;
}
#section_about .info .text-focus {
  color: #a00;
}

#section_edu, #section_work {
  background-color: #eee;
  overflow-x: hidden;
  background-image: url("hero.jpg");
  background-attachment: fixed;
}
#section_edu .experience, #section_work .experience {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  #section_edu .items:after, #section_work .items:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    left: 16.5%;
    top: 5px;
    width: 4px;
    height: 100%;
    background-color: #bbb;
    z-index: 2;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #section_edu .items:after, #section_work .items:after {
    left: 135px;
  }
}

@media (max-width: 575px) {
  #section_edu .items, #section_work .items {
    margin-left: -7px;
    margin-right: -7px;
  }
}
#section_edu .items .year, #section_work .items .year {
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  position: relative;
  color:white;
}
@media (max-width: 767px) {
  #section_edu .items .year, #section_work .items .year {
    text-align: center;
    margin-bottom: 65px;
  }
}
#section_edu .items .year .circle, #section_work .items .year .circle {
  position: absolute;
  color: azure;
  font-size: 35px;
  font-weight: bolder;
  z-index: 3;
}
@media (min-width: 768px) {
  #section_edu .items .year .circle, #section_work .items .year .circle {
    padding: 13px 0px;
    right: 28%;
    top: -20px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #section_edu .items .year .circle, #section_work .items .year .circle {
    right: 27%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #section_edu .items .year .circle, #section_work .items .year .circle {
    right: 35px;
  }
}

@media (max-width: 767px) {
  #section_edu .items .year .circle, #section_work .items .year .circle {
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
  }
}
#section_edu .items .data, #section_work .items .data {
  background-color: #f7f7f7;
  box-shadow: 0 5px 5px rgba(85, 85, 85, 0.5);
  padding: 13px 30px;
  margin-bottom: 35px;
  line-height: 26px;
  letter-spacing: 1px;
}
#section_edu .items .data:before, #section_work .items .data:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 3px rgba(102, 102, 102, 0.2);
  transform: translate(-50%, 25%) rotate(45deg);
  z-index: 2;
}
@media (max-width: 767px) {
  #section_edu .items .data:before, #section_work .items .data:before {
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: none;
  }
}
#section_edu .items .data .name, #section_work .items .data .name {
  font-weight: 600;
}
#section_edu .items .data .department, #section_work .items .data .department {
  color: #333;
  font-size: 15px;
}
#section_edu .items .data .description, #section_work .items .data .description {
  margin-top: 6px;
  color: #666;
  font-size: 14px;
}

#section_work {
  background-color: #fff;
}
#section_work .items .data {
  background-color: whitesmoke;
}
#section_work .items .data:before {
  background-color: whitesmoke;
}
#section_work .items .year .circle {
  color: azure;
}

section#section_skill {
  background-color: #eaedef;
}
section#section_skill .skills {
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: #666;
}
section#section_skill .skills [class^="col"] {
  margin-bottom: 20px;
}
section#section_skill .circle {
  width: 100px;
  height: 100px;
  border: solid 10px #4b878f;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  position: relative;
  color:azure;
}
section#section_skill .circle .mask-grey {
  width: 50px;
  height: 100px;
  border-left: solid 10px #ccc;
  border-top: solid 10px #ccc;
  border-bottom: solid 10px #ccc;
  border-radius: 100px 0 0 100px;
  position: relative;
  left: -10px;
  top: -10px;
}
section#section_skill .circle .mask-blue {
  width: 100px;
  height: 50px;
  border-left: solid 10px #4b878f;
  border-right: solid 10px #4b878f;
  border-bottom: solid 10px #4b878f;
  border-radius: 0 0 100px 100px;
  position: absolute;
  top: 40px;
  left: -10px;
  transform-origin: top center;
}
section#section_skill .circle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-40%, -40%);
  font-size: 18px;
  color: #666;
}
section#section_skill .c1::before {
  content: "90%";
}
section#section_skill .c1 .mask-blue {
  transform: rotate(55deg);
}
section#section_skill .c2::before {
  content: "75%";
}
section#section_skill .c3::before {
  content: "60%";
}
section#section_skill .c3 .mask-blue {
  transform: rotate(-50deg);
}
section#section_skill .c4::before {
  content: "50%";
}
section#section_skill .c4 .mask-blue {
  transform: rotate(-90deg);
}
section#section_skill .c5::before {
  content: "75%";
}
section#section_skill .c6::before {
  content: "50%";
}
section#section_skill .c6 .mask-blue {
  transform: rotate(-90deg);
}

#section_contact {
  background-image: url(hero.jpg);
  background-attachment: fixed;
}
#section_contact [class^="col-"] {
  text-align: center;
  padding-bottom: 50px;
}
#section_contact hr {
  border: 2px solid #4b878f;
  width: 45px;
}
#section_contact .mail a {
  color:white;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 3px;
  font-size: 15px;
}
#section_contact .phone a {
  color:white;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 15px;
}

#section_contact .mail a span {
  font-family: "Bree Serif", serif;
}
#section_contact .logo a {
  color:white;
  font-size: 2.4em;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  transition: 0.5s;
}
#section_contact .logo a:hover, #section_contact .logo a:active {
  transform: rotate(360deg) scale(1.8);
}

footer {
  background-color: #000;
  height: 250px;
  color: #aaa;
  font-weight: 500;
}
footer .container-fluid {
  height: 100%;
}
@media (min-width: 575px) {
  footer .left, footer .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
footer .left {
  font-family: "Lobster", cursive;
  font-size: 50px;
}
@media (min-width: 575px) {
  footer .left {
    left: 100px;
  }
}
footer .right {
  font-size: 13px;
}
@media (min-width: 575px) {
  footer .right {
    right: 60px;
  }
}
@media (max-width: 575px) {
  footer .left, footer .right {
    text-align: center;
  }
  footer .left {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.goTop {
  padding: 15px 20px;
  background-color: rgba(142, 139, 130, 0.5);
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 9;
  opacity: 0.8;
  transition: 0.5s;
  transition: all 0.5s, opacity 1s;
}
.goTop:hover, .goTop:active {
  background-color: black;
  color: #8E8B82;
}
.goTop.at_top {
  opacity: 0;
}
